<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    {% feed_meta %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View Qompoter on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="https://github.com/Fylhan/qompoter/releases">
              <h1>Download</h1>
            </a>
            <a href="{{ site.release.url }}" class="button">
              <small>Download Qompoter</small>
              {{ site.release.version}}
            </a>
            <a href="{{ site.nightly.url }}" class="button">
              <small>Download Qompoter</small>
              nightly
            </a>
          {% endif %}

          <a href="{{ '/' | absolute_url }}">
            <h1>Documentation</h1>
          </a>
          <ul>
            <li><a href="/qompoter/index.html#installation">Installation</a></li>
            <li><a href="/qompoter/index.html#getting-started">Getting started</a></li>
            <li><a href="/qompoter/docs/Packages.html">Concept of packages</a></li>
            <li><a href="/qompoter/docs/Repositories.html">Concept of repositories</a></li>
            <li><a href="/qompoter/docs/Qompoter-json-file.html#require">Concept of package's versions</a></li>
            <li><a href="/qompoter/docs/Qompoter-json-file.html">qompoter.json</a></li>
            <li><a href="/qompoter/docs/Qompoter-pri-file.html">qompoter.pri</a></li>
            <li><a href="/qompoter/docs/Command-line.html">Command line interface</a></li>
            <li><a href="/qompoter/docs/Contribution-guide.html">Contribution guide</a></li>
            <li><a href="/qompoter/docs/FAQ.html">FAQ</a></li>
          </ul>

          <a href="{{ '/blog' | absolute_url }}">
            <h1>Updates</h1>
          </a>
          <ul class="posts">
          {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> » <a href="/qompoter{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>
  </body>
</html>
